@function rem($px) {
  @return ($px/18px)+0rem;
}

@mixin flex($main,$cross) {
  display: flex;
  justify-content: $main;
  align-items: $cross;
}

@mixin bg($posX,$posY) {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: $posX $posY;
}

@mixin max-desktop {
  @media screen and (min-width: $max-desktop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: $laptop) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

@mixin phones-small {
  @media screen and (max-width: $phones-small) {
    @content;
  }
}