.menu {
  color: #fff;
  background: url(../img/menu/menu_bg.jpg) center center / cover no-repeat;
  justify-content: flex-start;
  position: relative;
}
.menu__accordeon {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
}
.menu__item {
  display: flex;
  &.is-active {   
    @include phones {
      flex-shrink: 0;
      order: 1;
      width: 100vw;
    }
  }
}
.menu__block {
  @include flex(flex-end,flex-end);
  width: rem(100px);
  @include phones {
    width: rem(80px);
  }
}
.menu__subtitle {
  font-size: rem(48px);
  padding-left: rem(50px);
  transform-origin: 100% 100%;
  transform: rotate(-90deg) translate(100%);
  white-space: nowrap;  
  line-height: rem(100px);
  @include phones {
    font-size: rem(36px);
    line-height: rem(80px);
  }
}
.menu-milk {
  background: url(../img/menu/milk.jpg) center center / cover no-repeat;
}
.menu-fruit {
  background: url(../img/menu/fruit.jpg) center center / cover no-repeat;
}
.menu-berry {
  background: url(../img/menu/berry.jpg) center center / cover no-repeat;
}
.menu__desc {  
  width: 0;
  overflow: hidden;
  transition: all .6s;  
  font-size: rem(16px);
  background-color:rgba(0, 0, 0, 0.7);
  @include phones {
    transition: 0s;
  } 
}
.menu__text{
  opacity: 0;
}
.menu__item.is-active .menu__desc {  
  padding: rem(50px) rem(30px);
}
.menu__item.is-active .menu__text {  
  opacity: 1;
  transition: opacity .5s .5s;
}
