.nav {
  width: 68%;
  @include tablets {
    align-self: center;
    height: 0;
    overflow: hidden;    
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
  @include tablets {
    flex-direction: column;
    font-size: rem(36px); 
  } 
}
.nav__item {
  @include tablets {
  text-align: center;
  margin-bottom: rem(20px);
  }
}