.work{
  background-color: $lightGrey;
  align-items: center;
  justify-content: center;
  position: relative;

  &:before {
    content: "";
    position: absolute;    
    bottom: 5%;
    width: 100%;
    max-width: 1000px;
    height: 80%;
    background: url(../img/work/video_leafs.png) center center / contain no-repeat;
    @include tablets {
      width: 100%;
    }
  }
  &::after {
    content: "";
    background: url(../img/work/black.png) right center / contain no-repeat;
    position: absolute;
    width: 15%;
    max-width: 195px;
    height: 40%;
    right: 0;
    bottom: 0;
    transform: translateY(45%);
    z-index: 1;
  }
}
.work__container {
  @include tablets {
  max-width: 590px;
  }
}