.order-button {
  color: inherit;
  text-transform: uppercase;
  font-weight: $extraBoldFont;
  color: #fff;
  background-color:$green;
  font-size: rem(19px);
  padding: 1em 1.9em;
  border-radius: 40px;
}
.intro-button {
  color: $green;
  background-color: #fff;
  box-shadow: 0 5px 5px 2px #52aec1;
  flex-shrink: 0;
}
.form__reset {
  color: inherit;
}
