.candy-bar{
  background-color: $lightGrey;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3%;

  &::after{
    content: url(../img/candy-bar/leaf_2.png);
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-40%);
  }
}

.candy-bar__list{
  display: flex;
}
.candy-bar__item{
  @include flex;
  width: 0;
  overflow: hidden;
  //flex-wrap: wrap;

  &--active {
    width: initial;
  }
}
.candy-bar__img {
  flex: 1 1 50%;
  margin-right: rem(80px);
}
.candy-bar__text {
  flex: 1 1 45%;
  line-height: 1.2;
}
.candy-bar__img-pic{
  max-width: 100%;
  max-height: 100%;
}
.candy-bar__consist{
  font-weight: $mediumFont;
  font-size: rem(24px);
}
.candy-bar__desc {
  color: $garkGrey;
  width: 80%;
  margin-top: rem(20px);
  margin-bottom: rem(50px);
}
.candy-bar__specs {
  display: flex;
}
.candy-bar__calorie {
  margin-right: rem(50px);
}
.candy-bar__calorie-value, .candy-bar__weight-value{
  font-weight: $boldFont;
}
.candy-bar__order{
  display: flex;
  align-items: center;
  margin-top: rem(20px);
}
.candy-bar__price{
  font-size: rem(60px);
  margin-right: rem(20px);
}
.scroll-btn {
  align-self: center;
  outline: none;
}
.scroll-btn__img {
  width: 30px;
  height: 40px;  
}
.scroll-btn__img--back {
  transform: rotate(90deg);
}
.scroll-btn__img--forward {
  transform: rotate(-90deg) translate(15%);
}
@media (max-width: 768px) {
  .candy-bar__item {
    flex-direction: column;
    align-items: center;
  }
  .candy-bar__img {
    margin-right: 0;
  }
  .candy-bar__text {
    text-align: center;
  }
}