.footer{
  padding: 10px 0;
  width: 100%;
  max-width: 940px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: rem(21px);
}
.company-contacts{
  font-style: normal;  
}
.footer-num{
  color: $green;
}
.footer-phone{
  fill: $green;
}
.socials__list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
.socials__item {
  width: rem(20px);
  height: rem(20px);
  margin-left: rem(20px);
}
.socials__img{
  max-width: 100%;
  max-height: 100%;
  fill: #b2b2b2;
  transition: all ease .2s;
}
.socials__img:hover {
  fill: #000;
}
