.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;  
  z-index: 2;
}
.nav{
  width: 68%;
}
.nav__list {
  display: flex;
  justify-content: space-between;  
}
.logo__link{
  display: inline-block;
}
.logo{
  max-width: 50px;
  max-height: 50px;
}
.logo__img{
  max-width: 100%; 
}

.company-phone{
  font-size: rem(24px); 
}
.company-phone__img{
  width: 12px;
  height: 12px;
  margin-right: 5px;
  fill: #fff;
}