.header{
  @include flex(space-between,center); 
  position: relative;
  width: 100%;
  z-index: 3;
  @include tablets {
    position: absolute;
    align-items: flex-start;
    padding: 25px;
    left: 0;
    top: 0;
    width: 100%;
  }
  &.is-active{
    @include tablets {
      height: 100%;
      background-color: rgba(48, 52, 54, 0.98);
      transition: background .3s;  
    }
  }
}
.header.is-active .nav {
  height: auto;
}
.header.is-active .logo {
  opacity: 0;
}

.logo{
  max-width: 50px;
  max-height: 50px;  
}
.logo__img{
  max-width: 100%; 
}
.company-phone{
  font-size: rem(24px);
}
.company-phone__img{
  width: 12px;
  height: 12px;
  margin-right: 5px;
  fill: #fff;
}
.header__phone {
  @include tablets {
    display: none;
  }
}