.member__img {
  overflow: hidden;
  margin-bottom: rem(15px);
  width: 100%;
  height: rem(285px);
  @include phones-small {
    height: rem(250px);
  }
}
.member__img-pic {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.member__name {
  cursor: pointer;
  font-weight: $mediumFont;
  font-size: rem(21px);
  
  &::after {
    content: "";
    font-size: 0;
    margin-left: 5px;
    border: 8px solid transparent;
    border-top-color: $green;
    border-width: 8px 6px 0px;
  }
}
.member__desc {
  font-weight: $lightFont;
  color: $darkGrey;
  line-height: 1.2;
  z-index: 1;

  @include tablets {
    position: absolute;    
    width: 100%;
    left: 0;
    background: $lightGrey;
    border-radius: 8px;
  }
}
.member__text {
  transition: opacity .5s;
  opacity: 0;  
  overflow: hidden;
  @include tablets {
  transition: opacity 0s;
  }  
  @include phones-small {
    line-height: 1;
  }
}
.member {  
  &.is-active .member__text {  
    opacity: 1;    
  }
  &.is-active .member__name::after {
    border-bottom-color: $green;
    display: inline-block;
    transform: rotate(180deg);
  }
}