.menu{
  color: #fff;
  background: url(../img/menu/menu_bg.jpg) center center / cover no-repeat;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.menu__accordeon{
  display: flex;
  position: absolute;
  height: 100%;
  right: 0;
}
.menu__item {
  display: flex;
  overflow: hidden;
}
.menu__block {
  @include flex(flex-end,flex-end);
  width: rem(100px);
  cursor: pointer;
  @include phones {
    width: rem(70px);
  }
}
.menu__subtitle {
  font-size: rem(48px);
  padding-left: rem(50px);
  transform-origin: 100% 100%;
  transform: rotate(-90deg) translate(100%);
  white-space: nowrap;  
  line-height: rem(100px);
  @include phones {
    font-size: rem(36px);
    line-height: rem(70px);
  }
}
.menu-milk{
  background: url(../img/menu/milk.jpg) center center / cover no-repeat;
}
.menu-fruit{
  background: url(../img/menu/fruit.jpg) center center / cover no-repeat;
}
.menu-berry{
  background: url(../img/menu/berry.jpg) center center / cover no-repeat;
}
.menu__desc {
  width: 0;
  color: transparent;
  font-size: rem(16px);
  background-color:rgba(0, 0, 0, 0.7);
  //transition: all ease 0.4s;
}
.menu__item.is-active .menu__desc {  
  width: 500px;
  color: #fff;
  padding: rem(50px) rem(30px);
  @include tablets {
    width: initial;
  }
}