.reasons{
  @include flex;
  background: url(../img/reasons/leaf.png) left center / no-repeat;
  position: relative;
  justify-content: center;

  &::after{
    content: url(../img/reasons/malina_bar.png);
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(-50%);
    z-index: 1;
  }
}
.reasons__text{
  text-align: center;
  margin-bottom: rem(50px);
  line-height: 1.2;
}

.reasons__list{  
  display: flex;  
  justify-content: space-between;
  margin-bottom: rem(20px);
}
.reasons__item{
  text-align: center;  
  width: 30%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 20px;
    left: -109%;
    top: 55px;
    transform: translate(50%, 0);
    background: url(../img/reasons/middle.png) center center / contain no-repeat;
  }

  &:first-child::before{
    display: none;
  }
}

.benefit__img {
  margin-bottom: rem(30px); 
}
.benefit__img-wrap{
  width: rem(125px);
  height: rem(125px);
  margin: 0 auto;  
  background-color: $grey;
  border-radius: 50%;
  @include flex;
}
.benefit__img-pic{
  max-width: 60%;
  max-height: 60%;
}
.benefit__title{
  font-weight: $boldFont;
  font-size: rem(27px);
  margin-bottom: rem(16px);
}
.benefit__desc{
  color: $garkGrey;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .reasons__list {
    flex-direction: column;
    align-items: center;
  }
  .reasons__item {
    width: 60%;

    &::before {
      display: none;
    }
  }
  .benefit__img {
    margin-bottom: 0;
  }
  .reasons__text{
    margin-bottom: 0;
  }
}