.reasons{
  @include flex(center,center);
  background: url(../img/reasons/leaf.png) left 200px / 180px  no-repeat;
  position: relative;
  @include tablets {
    background-size: rem(120px);
  }

  &::after{
    content: "";
    position: absolute;
    background: url(../img/reasons/malina_bar.png) left center / contain no-repeat;    
    width: 20%;
    height: 40%;
    max-width: 165px;
    left: 0;
    top: 100%;
    transform: translateY(-50%);
    z-index: 1;
    @include tablets {
      transform: translateY(-60%);
    }
  }
}
.reasons__text{
  text-align: center;
  margin-bottom: rem(50px);
  line-height: 1.2;
  @include tablets {
    margin-bottom: rem(10px);
  }
}
.reasons__desc{
  max-width: rem(420px);
}
.reasons__list{  
  display: flex;  
  justify-content: space-between;
  margin-bottom: rem(20px);
  @include tablets {
    flex: 0.8;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
.reasons__item{
  text-align: center;  
  position: relative;
  max-width: 30%;
  @include tablets {
    max-width: 60%;
    margin-bottom: rem(10px);
  }
  @include phones {
    max-width: 70%;    
  }

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 20px;
    left: -109%;
    top: 55px;
    transform: translate(50%, 0);
    background: url(../img/reasons/middle.png) center center / contain no-repeat;
    @include tablets {
      display: none;
    }
  }

  &:first-child::before{
    display: none;
  }
}