@mixin flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

@function rem($px) {
  @return ($px/18px)+0rem;
}

@mixin max-desktop {
  @media screen and ( min-width: 1920px ) {
    @content;
  }
}