html {
  font-size: 18px;
  // @include phones {
  //   font-size: 16px;
  // }
  @include phones-small {
    font-size: 13px;
  }
}
html, body {
  height: 100%; 
}
body {
  font-family: 'Alegreya Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $regularFont;
  line-height: 1.42; 
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  //overflow-y: hidden;
}
.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  justify-content: center;

  @include tablets {
    min-height: 850px;
  }
  @include phones {
    min-height: 500px;
  }
}
.container {
  width: 96%;
  max-width: 940px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablets {
    max-width: 460px; 
  }
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}