//Переменные цвета
$blue: #61c4d9;
$green: #0f5a47;
$grey: #f2f5f4;
$lightGrey: #f8faf9;
$garkGrey: #666;
$yellow: #dde3bd;

//Переменные начертания
$lightFont: 300;
$regularFont: 400;
$mediumFont: 500;
$boldFont: 700;
$extraBoldFont: 800;

//Переменные размера дисплея
$max-desktop: 1920px;
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$phones-small: 375px;